.event-item__container {
  min-width: 280px;
  overflow: hidden;
  border-radius: var(--border-radius-md);
  background-color: var(--color-light-background-2);
  border: 2px solid var(--color-light-background-3);

  display: flex;
  flex-direction: row;

  &--large {
    border-radius: var(--border-radius-lg);
    flex-direction: column;
  }

  &--medium {
    flex-direction: column;
  }

  .event-item {
    &__event-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius-lg);
      padding: 10px;
      cursor: pointer;
    }

    &:hover {
      box-shadow: var(--shadow-lg);
    }

    &__event-img-backdrop {
      position: relative;
      border-radius: var(--border-radius-lg);
      flex-shrink: 0;

      &--large {
        position: relative;
        height: 190px;
      }

      &--medium {
        position: relative;
        height: 140px;
        .event-item__event-header-layer {
          justify-content: center;
          height: 100%;
        }

        .event-item____event-content {
          padding-top: var(--padding-lg);
        }
      }
    }

    &__event-header-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: var(--spacing-lg);
      z-index: 2;
      .MuiTypography-root {
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
      }
    }

    &__event-header-layer {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      color: var(--color-cream-highlights);
      z-index: 2;
    }

    &__event-image-gradient {
      position: absolute;
      top: 10px;
      left: 10px;
      height: 80%;
      width: calc(100% - 20px);

      border-radius: var(--border-radius-lg);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      z-index: 1;
      pointer-events: none;
    }
    &__event-stage-badge {
      text-transform: uppercase;
      font-size: var(--font-size-xxs);
      padding: var(--spacing-xm);
      width: 80px;
    }

    &__event-content {
      width: 100%;
      padding: var(--spacing-md);
    }

    &__event-title {
      text-align: center;
      width: 100%;
      padding: var(--spacing-xm);
      color: var(--color-text-cream);
      text-transform: uppercase;
      letter-spacing: -2px;
    }

    &__event-subtitle {
      font-size: var(--font-size-xs);
      font-weight: 600;
      text-align: right;
    }

    &__event-description {
      color: var(--color-text-secondary);
      font-size: var(--font-size-xs);
      width: 100%;
      min-height: 45px;
    }

    &__event-details {
      margin-top: var(--spacing-sm);
    }

    &__event-item {
      width: 100%;
    }

    &__event-rating {
      display: flex;
      justify-content: center;
      justify-self: center;
    }
  }
}
