@font-face {
  font-family: lexendPeta-Black;
  src: url('../../public/fonts/Lexend_Peta/LexendPeta-VariableFont_wght.ttf')
    format('truetype');
  font-style: normal;
}

@font-face {
  font-family: nunito;
  src: url('../../public/fonts/Nunito/Nunito-VariableFont_wght.ttf')
    format('truetype');
  font-style: normal;
}
